<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sisters Of The Road App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "pindropapp/styles.css" %}">

</head>
<body>
        <div class="topnav" id="myTopnav"><img class="navlogo" src="{% static "home/sisters_logo.gif" %}">
            <a href="/" >Home</a>
            <a href="#news">News</a>
            <a href="#menu">This Week's Menu</a>
            <a href="/dynamic_map/">Portland Map</a>
            <a href="https://invis.io/28ERPR4SV#/267238105_Landing_Page">Future Feature Example</a>
            <a href="javascript:void(0);" style="font-size:30px;" class="icon" onclick="myFunction()">&#9776;</a>
          </div>
<div id="googleMap" style="width:100%;height:500px;"></div>
<script>
  function myMap() {
    var portlandLatLang = new google.maps.LatLng(45.5221418,-122.6776808);

    var mapProp= {
      center:portlandLatLang,
        zoom:15,
    };
    var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
    // var marker = new google.maps.Marker({
    //   position: portlandLatLang,
    //   map: map,
    //   title: 'Portlandia!'
    // });
    {% for pin in mypins %}
        new google.maps.Marker({
          position: new google.maps.LatLng({{pin.longitude}}, {{pin.latitude}}),
          map: map,
          title: 'Portlandia!'
        });
    {% endfor %}
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD31nwKEamghwtw7mReM5MO9uJ7KyH0S0k&callback=myMap"></script>
<script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
        </script>
</body>